html{
    height:100%;
    cursor: url("arrow-pointer1.png" ), auto;
    width:100%;
}

button{
    cursor: url("cursors.png" ), auto;

}

#loader{
    display:block;
    z-index:5;
    width:100%;
    left: 0;
    top: 0;
    height:100%;
    position:fixed;
    background-color: #ACADD2;
    transition: transform 1s ease-in-out;
    transition: background-color 1s ease-in-out;

}

.transform{
    transform: scale(0.95);
}

#top-controls button:hover{
    transform: scale(1.05);
}

#top-controls button:active{
    transform: scale(1);
}

.transparent{
    opacity: 0;
}

header {
    height:70px;
    width:100%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    top:0;
    left:0;
    position:fixed;
    z-index: 1;
    font-family: 'Inter';
    font-size:30px;
    font-weight:800;
    color:#4E5775;
    display:flex;
    align-items: center;
    flex-direction: row;
}

header nav ul{
    display:flex;
    flex-direction: row;
    align-items: center;
}

header a{
    margin:0;
    margin-left:0;
    display:inline-block;
    text-decoration: none;
    color:#4E5775;
    cursor: url("cursors.png" ), auto;

}

header button{
    display:inline-block;
    height:28px;
    width:28px;
    margin-left:12px;
    border:none;
    border-radius: 5px;
    background-color: #C7C8E7;
    position:relative;
    margin-top:1px;
    align-items:center;
    justify-content: center;
    font-family: 'Inter';
    font-size:10px;
    display:flex;
    align-content: center;
}

header button:hover{
    transform:scale(1.1);
    background-color: #ACADD2;
    transition: 0.2s;
}

header button:active{
    transform:scale(1);
}
@keyframes flash {
    0% { content: ""; }
    10% { content: "9"; }
    20% { content: "2"; }
    30% { content: "8"; }
    40% { content: "5"; }
    50% { content: "1"; }
    60% { content: "7"; }
    70% { content: "3"; }
    80% { content: "6"; }
    90% { content: "4"; }
    100% { content: ""; }
  }
  
  header button:active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: flash 0.5s linear;
    animation-fill-mode: forwards;
    font-family: 'Inter';
    font-size:15px;
    font-weight:800;
    color: #4E5775;
    display:flex;
    align-items: center;
    justify-content: center;
    animation-iteration-count: infinite;
  }


#game-container{
    height: min(40vw,605px);
    padding-top:50px;
    width:min(60vw,950px);
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position:fixed;
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: row;
}

@media(max-width: 1350px){
    #game-container{
        flex-direction: column;
        top:45%;
        height:70%;
    }
    
}

#board-container {
    /* padding-top:50px; */
    /* position: fixed; */
    z-index:-1;
    height: max(488px,min(40vw,625px));
    width: max(488px,min(40vw,625px));
    flex-wrap: wrap;
    align-content: center;
    justify-content:center;
    display:flex;
    flex-direction: row;
}

#blur-screen {
    display: none;
    position: fixed;
    height: max(488px,min(40vw,625px));
    width: max(488px,min(40vw,625px));
    background-color: rgba(237, 242, 245, 0.5);
    filter: blur(5px);
    z-index: 999;
  }

  #blur1 {
    pointer-events: all;
    display: none;
    position: fixed;
    height: max(488px,min(40vw,625px));
    width: max(488px,min(40vw,625px));
    z-index: 999;
    align-items: center;
    justify-content: center;
  }

  .circle {
    position: fixed;
    display:none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    z-index: 9999;
    transition: transform 0.8s ease-in-out,opacity 0.7s ease-in-out;
  }
  
  .circle.expand {
    transform: translate(-50%, -50%) scale(110.5);
  }
  




